#messengerPage {
    display: grid;
    grid-template-columns: 2fr, 3fr;
    grid-template-rows: 1fr, 2fr, 2fr, 1fr;
    background-color: antiquewhite;
}

#messengerPage ul{
    list-style-type: none;
}

#userList li {
    border: 1px black solid;
    align-items: center;
    padding: 2%;
    margin: 2%;
}

#userList {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#location {
    border: 1px black solid;
    grid-column: 1;
    grid-row: 1;
    text-align: center;

    font-family: Luminari, fantasy;
}

#miniProfile {
    border: 1px black solid;
    grid-column: 1;
    grid-row: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#whoIsHere {
    border: 1px black solid;
    grid-column: 1;
    grid-row: 3 / span 2;
}

#messaging {
    border: 1px black solid;
    grid-column: 2;
    grid-row: 1 / span 3;
    display: flex;
}

#messageBox {
    border: 1px black solid;
    grid-column: 2;
}

#messageBox input {
    width: 90%;
}

#messageList {
    padding: 0;
    width: 100%;
    position: absolute;
}

#messageList li {
    padding: 0;
    word-wrap: break-word;
    width: 60vw;
}